@import url('https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
    --backgroundColor : #ff8c6b;
    --backgroundColor2 : #ffe0b2;
    --boxShadow : 0 60px 40px -30px rgba(0,0,0,0.27);
    --h4TextColor : #151111;
    --h6TextColor : #bababa;
    --toggleHoverColor : #8371fd;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "poppins",sans-serif;
    background-color: var(--backgroundColor2);
}

.allElements{
    height: 10vh;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 50px;
}
.searchBox{
    height: 40px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: white;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px var(--shadow);
    margin-right: 10px;
}

.searchBox:hover input{
    width:400px;
}

.searchBox input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}

.searchBox a .fa-solid{
    color: var(--backgroundColor);
    font-size: 18px;
}



.boxElements{
    height: 40px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: white;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px var(--shadow);
    margin-right: 10px;
}

.boxElements:hover p{
    width:90px;
    font-size: 16px;
}

.boxElements p{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
    font-size: 0px;
    color: var(--backgroundColor);
    text-align: center;
}

.boxElements a .fa-solid{
    color: var(--backgroundColor);
    font-size: 18px;
}

.sign-btn{
    display: inline-block;
    width: 100%;
    height: 43px;
    background-color: var(--h4TextColor);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
    transition: 0.3s;
}

.sign-btn:hover{
    background-color: #8371fd;
}


.container{
    width: 100%;
    margin-top: 0%;
    /* display: flex; */
    z-index: 1;
}

.container h2{
    margin-left: 30px;
}

.openForm{
    visibility: visible;
    /* transform: translate(0%,-15%) scale(1); */
}


.container-details{
    position: relative;
}

.content-section{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 20px;
    grid-gap: 1rem;
    z-index: 1;
}

.card{
    flex-basis: 48%;
    padding: 10px 15px;
    background-color: white;
    border-radius: 5px;
    height: calc(70vh/2);
    width: 40vh;
    border-radius: 20px;
}

.hire{
    margin-top: 10px;
    width: 70%;
}

.card img{
    height: 70px;
    width: 70px;
    border-radius: 50px;
    margin-top: 10px;
}

.card ul{
    list-style: none;
}

.card h2{
    margin:15px 0px;
    font-size: 28px;
}

.form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 20%;
    max-width: 450px;
    height: 550px;
    width: 100%;
    background: white;
    border-radius: 10px;
    border: 2px solid var(--colorWhite);
    transform: translate(-50%,-50%);
    /* display: none; */
    z-index: 2;
}

.form-popup .form-box{
    display: flex;
}

.form-box .form-details{
    max-width: 330px;
    width: 100%;
    color: white;
    display: flex;
    padding: 0 20px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.login .form-details{
    /* background: url("Images/LoginPageImage.jpg"); */
    background-size: cover;
    background-position: center;
}

.signup .form-details{
    /* background: url("Images/LoginPageImage.jpg"); */
    background-size: cover;
    background-position: center;
}

.form-box h2{
    text-align: center;
    margin-bottom: 30px;
}

.form-box .form-content{
    width: 100%;
    padding: 85px 35px;
}

form .input-field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.detailsReview{
    height: 450px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

/* form select{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
} */

form .input-field input{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 0.95rem;
    border-radius: 3px;
    /* border: 1px solid var(--borderRadiusColor); */
}

form .input-field select{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 0.95rem;
    border-radius: 3px;
    /* border: 1px solid var(--borderRadiusColor); */
}

.input-field input:is(:focus,:valid){
    padding: 0px 15px;
}

form .input-field label {
    position: absolute;
    top: 50%;
    left: 15px;
    /* color: var(--borderRadiusColor); */
    pointer-events: none;
    transform: translateY(-50%);
    transition: 0.2s ease;
    font-size: 0.9rem;
}

.input-field input:is(:focus, :valid) ~ label{
    /* color: var(--colorGreen); */
    font-size: 0rem;
    transform: translateY(-120%);
}

.form-box a{
    /* color: var(--colorGreen); */
    text-decoration: none;
}

.form-box a:hover {
    text-decoration: underline;
}


.form-box .forgot-pass {
    display: inline-flex;
    margin-top: 14px;
    font-size: 0.95rem;

}
form button {
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 14px 0;
    border-radius: 3px;
    margin: 25px 0;
    color: white;
    cursor: pointer;
    background: var(--backgroundColor);
}

.fa-circle-xmark{
    margin-left: 95%;
    font-size: 20px;
    cursor: pointer;
}

form button:hover {
    background: black;
    color: white;
}

.form-box .bottom-link {
    text-align: center;
}

.relation{
    position: relative;
}


.form-popup .signup,
.form-popup.show-signup .login{
    display: none;
}

.form-popup.show-signup .signup{
    display: flex;
}