@import url('https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
    --backgroundColor : #ff8c6b;
    --backgroundColor2 : #ffe0b2;
    --boxShadow : 0 60px 40px -30px rgba(0,0,0,0.27);
    --h4TextColor : #151111;
    --h6TextColor : #bababa;
    --toggleHoverColor : #8371fd;
}

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body,
input{
    font-family: "poppins",sans-serif;
    background-color: var(--backgroundColor2);
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    /* background-color: #82c4cd; */
    /* background-image: url("../../Images/Football_Match_Picture_3.jpg"); */
    background-color: var(--backgroundColor2);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    z-index: -1;
    filter: blur(4px);
}

.background::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background-color: rgba(0,0,0,0.55); */
}

.allElements{
    height: 10vh;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 50px;
}
.searchBox{
    height: 40px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: white;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px var(--shadow);
    margin-right: 10px;
}

.searchBox:hover input{
    width:400px;
}

.searchBox input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}

.searchBox a .fa-solid{
    color: var(--backgroundColor);
    font-size: 18px;
}



.boxElements{
    height: 40px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: white;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px var(--shadow);
    margin-right: 10px;
}

.boxElements:hover p{
    width:90px;
    font-size: 16px;
}

.boxElements p{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
    font-size: 0px;
    color: var(--backgroundColor);
    text-align: center;
}

.boxElements a .fa-solid{
    color: var(--backgroundColor);
    font-size: 18px;
}



.formContainer{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.box{
    position: relative;
    width: 100%;
    max-width: 1020px;
    height: 640px;
    background-color: #fff;
    border-radius: 3.3rem;
    box-shadow: var(--boxShadow);
}

.inner-box{
    position: absolute;
    width: calc(100% - 4.1rem);
    height: calc(100% - 4.1rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.forms-wrap{
    position: absolute;
    height: 100%;
    width: 45%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    transition: 0.8s ease-in-out;
}



form{
    max-width: 260px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: opacity 0.02s 0.4s;
}

form.sign-up-form{
    opacity: 0;
    pointer-events: none;
}


.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 27px;
    margin-right: 0.3rem;
}

.logo h4{
    font-size: 1.1rem;
    margin-top: -9px;
    letter-spacing: -0.5px;
    color: var(--h4TextColor);
}

.headin h2{
    font-size: 2.1rem;
    font-weight: 600;
    color: var(--h4TextColor);
}

.heading h6{
    color: var(--h6TextColor);
    font-weight: 400;
    font-size: .75rem;
    display: inline;
}

.toggle{
    color: var(--h4TextColor);
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 500;
    transition: 0.3s;
}

.toggle:hover{
    color: var(--toggleHoverColor);
}

.box i{
    cursor: pointer;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 20px;
}

.input-wrap{
    position: relative;
    height: 37px;
    margin-bottom: 2rem;
}

.input-field {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #bbb;
    padding: 0;
    font-size: .95rem;
    color: var(--h4TextColor);
    transition: 0.4s;
}

.input-wrap select{
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #bbb;
    padding: 0;
    font-size: .95rem;
    color: var(--h4TextColor);
    transition: 0.4s;
}

label{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.95rem;
    color: #bbb;
    pointer-events: none;
}

.input-field.active{
    border-bottom-color: var(--h4TextColor);
}

.input-field.active + label{
    font-size: 0.75rem;
    top: -2px;
}

input[type="file"] {
    display: none;
}

.custom-text{
    display: inline-block;
    padding: 10px 20px;
    background: #0077cc;
    color: #fff;
    cursor: pointer;
}

.sign-btn{
    display: inline-block;
    width: 100%;
    height: 43px;
    background-color: var(--h4TextColor);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
    transition: 0.3s;
}

.sign-btn:hover{
    background-color: #8371fd;
}

.text{
    color: #bbb;
    font-size: 0.7rem;
}

.text a{
    color : #bbb;
    transition: 0.3s;
}

.text a:hover{
    color: #8371fd;
}

.formContainer.sign-up-mode form.sign-in-form{
    opacity: 0;
    pointer-events: none;
}

.formContainer.sign-up-mode form.sign-up-form{
    opacity: 1;
    pointer-events: all;
}

.formContainer.sign-up-mode .forms-wrap{
    left: 55%;
}

.formContainer.sign-up-mode .carousel {
    left: 0%;
}


.carousel{
    position : absolute;
    height: 100%;
    width: 55%;
    left: 45%;
    top: 0;
    background-color: var(--backgroundColor2);
    border-radius: 2rem;
    display: grid;
    overflow: hidden;
    padding-bottom: 2rem;
    grid-template-rows: auto 1fr;
    transition: 0.8s ease-in-out;
}

.images-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
}

.image{
    width: 80%;
    /* display: block; */
    margin: 0 auto;
    grid-column: 1/2;
    grid-row: 1/2;
    opacity: 0;
    transition: opacity 0.3s, transform 0.5s;
}

.img-1{
    transform: scale(0.4, 0.5);
}

.img-2{
    transform: translate(0,-50px);
}

.img-3{
    transform: scale(0.4, 0.5);
}

.image.show{
    opacity: 1;
    transform: none;
}

.text-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-wrap{
    max-height: 2.2rem;
    overflow: hidden;
    margin-bottom: 2.5rem;
}

.text-group{
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: translateY(0);
    transition: 0.5s;
}

.text-group h2{
    line-height: 2.2rem;
    font-weight: 600;
    font-size: 1.6rem;
}

.bullets{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bullets span{
    display : block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #aaa;
    margin: 0 0.25rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.bullets span.active{
    width: 1.1rem;
    background-color: var(--h4TextColor);
    border-radius: 1rem;
}


.container{
    width: 100%;
    margin-top: -45%;
    /* display: flex; */
}

.container h2{
    margin-left: 30px;
}

.openForm{
    visibility: visible;
    /* transform: translate(0%,-15%) scale(1); */
}


.container-details{
    position: relative;
}

.content-section{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 20px;
    grid-gap: 1rem;
    z-index: 1;
}

.card{
    flex-basis: 48%;
    padding: 10px 15px;
    background-color: white;
    border-radius: 5px;
    height: calc(70vh/2);
    width: 40vh;
    border-radius: 20px;
}

.hire{
    margin-top: 10px;
    width: 70%;
}

.card img{
    height: 70px;
    width: 70px;
    border-radius: 50px;
    margin-top: 10px;
}

.card ul{
    list-style: none;
}

.card h2{
    margin:15px 0px;
    font-size: 28px;
}