/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.CenterContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

